language: rust

rust:
  - nightly

script:
  - cargo build
  - cargo test -p compiler_util
  - cargo test -p compiler_target
  - cargo test -p compiler_ir
  - cargo test -p compiler_mir
  - cargo test -p compiler_pass
  - cargo test -p compiler_test

