[package]

name = "compiler"
version = "0.0.1"
authors = ["Dylan McKay <dylanmckay34@gmail.com"]

[dependencies]
num = "*"
bit-vec = "*"
clippy = "*"
argparse = "*"
walkdir = "0.1"

[lib]
name = "compiler"
path = "src/lib.rs"

[[bin]]
name = "asm"
path = "tools/asm.rs"

[[bin]]
name = "test"
path = "tools/test.rs"

[[bin]]
name = "basic-example"
path = "tools/basic-example.rs"
